*.pyc
project.lock.json
bin/
obj/
.vs/
node_modules/
.DS_store

**/.terraform/
*.tfstate
*.tfstate.*

crash.log
crash.*.log

*.tfvars
*.tfvars.json

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraform.lock.hcl
.terraform.tfstate*

.terraformrc
terraform.rc
*.env
*_key
*.crt
*.key
*.pem
kubeconfig

**/.ansible
.stfolder/*