apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: default
spec:
  clusterIP: None
  selector:
    app: postgres
  ports:
  - name: postgres
    port: 5432
    targetPort: 5432
---
apiVersion: v1
kind: Service
metadata:
  name: postgres-client
  namespace: default
spec:
  selector:
    app: postgres
  ports:
  - name: postgres
    port: 5433
    targetPort: 5432