
env: eks # local or eks
global:
  imagePullPolicy: IfNotPresent
  revisionHistoryLimit: 2
  securityContext:
    runAsNonRoot: true
    runAsUser: 1000
    allowPrivilegeEscalation: false
    readOnlyRootFilesystem: true
    capabilities:
      drop:
        - ALL
  probes:
    liveness:
      httpGet:
        path: "/"
        port: 8080
      initialDelaySeconds: 10
      periodSeconds: 10
      timeoutSeconds: 2
      failureThreshold: 3
    readiness:
      httpGet:
        path: "/"
        port: 8080
      initialDelaySeconds: 5
      periodSeconds: 5
      timeoutSeconds: 2
      failureThreshold: 3
#--------------------------------------------------------------------
storage:
  capacity: 5Gi
  local:
    storageClassName: local-storage
    pv:
      enabled: true
      name: postgresql-db-data
      path: /postgres
      nodeHostname: kubernetes
      reclaimPolicy: Retain
  eks:
    storageClass:
      enabled: true
      name: gp3
      provisioner: ebs.csi.aws.com
      reclaimPolicy: Delete
      volumeBindingMode: WaitForFirstConsumer
      allowVolumeExpansion: true
      parameters:
        type: gp3
        fsType: ext4
#--------------------------------------------------------------------
vote:
  name: vote
  replicaCount: 3
  autoscaling:
    enabled: true
    minReplicas: 1
    maxReplicas: 10
    targetCPUUtilizationPercentage: 80
    targetMemoryUtilizationPercentage: 80
  image:
    repository: ghcr.io/kastoni/kubevote-vote
    digest: "sha256:6b7fb7eb96630ca624f2e798fc13f6ca02e0182037c4eb72a946751112e7e3c8"
  podAnnotations: {}
  service:
    type: ClusterIP # ClusterIP | NodePort
    port: 80
    targetPort: 8080
    nodePort: 30080 # Used if the service type is Nodeport
  resources:
    requests:
      cpu: 200m
      memory: 150Mi
    limits:
      cpu: 600m
      memory: 300Mi
  redis_host: redis-master
  nodeSelector: {}
  tolerations: []
  affinity: {}
#--------------------------------------------------------------------
result:
  name: result
  replicaCount: 1
  image:
    repository: ghcr.io/kastoni/kubevote-result
    digest: sha256:07f4edc006f5cacbbafb478c274d967c96fd7b2463c19fb844baa1004db400ff
  podAnnotations: {}
  service:
    type: ClusterIP # ClusterIP | NodePort
    port: 80
    targetPort: 8080
    nodePort: 30081 # Used if the service type is Nodeport
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 300m
      memory: 256Mi
  nodeSelector: {}
  tolerations: []
  affinity: {}
#--------------------------------------------------------------------
worker:
  name: worker
  replicaCount: 1
  image:
    repository: ghcr.io/kastoni/kubevote-worker
    digest: sha256:bb635143640b1130b5efb5174145ef3e47e368cd82faf8de7f5ac7f3fc6762b0
  podAnnotations: {}
  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 200m
      memory: 256Mi
  redis_host: redis-master
  nodeSelector: {}
  tolerations: []
  affinity: {}
#--------------------------------------------------------------------
postgresql:
  enabled: true
  fullnameOverride: db
  auth:
    username: postgres
    password: postgres
    database: postgres
  primary:
    persistence:
      enabled: true
      existingClaim: postgresql-claim
#--------------------------------------------------------------------
redis:
  fullnameOverride: redis
  enabled: true
  architecture: standalone
  auth:
    enabled: false
  master:
    persistence:
      enabled: false
