apiVersion: karpenter.k8s.aws/v1
kind: EC2NodeClass
metadata:
  name: default
spec:
  role: ex-Project-X

  amiSelectorTerms:
    - alias: bottlerocket@latest

  subnetSelectorTerms:
    - tags:
        karpenter.sh/discovery: ex-Project-X

  securityGroupSelectorTerms:
    - tags:
        karpenter.sh/discovery: ex-Project-X

  tags:
    karpenter.sh/discovery: ex-Project-X
    Project: ex-Project-X
    ManagedBy: Karpenter
