nameOverride: ""
fullnameOverride: ""

ec2NodeClass:
  enabled: true
  name: ""
  role: ex-Project-X

  amiSelectorTerms:
    - alias: bottlerocket@latest

  subnetSelectorTerms:
    - tags:
        karpenter.sh/discovery: ex-Project-X

  securityGroupSelectorTerms:
    - tags:
        karpenter.sh/discovery: ex-Project-X

  tags:
    karpenter.sh/discovery: ex-Project-X
    Project: ex-Project-X
    ManagedBy: Karpenter

nodePool:
  enabled: true

  disruption:
    consolidationPolicy: WhenEmptyOrUnderutilized
    consolidateAfter: 30s

  limits:
    cpu: "4"
    memory: 8Gi

  template:
    metadata:
      labels:
        workload: app
        nodepool: karpentr-node-pool

    nodeClassRef:
      group: karpenter.k8s.aws
      kind: EC2NodeClass
      name: ""

    requirements:
      - key: kubernetes.io/os
        operator: In
        values: ["linux"]

      - key: kubernetes.io/arch
        operator: In
        values: ["amd64", "arm64"]

      - key: karpenter.sh/capacity-type
        operator: In
        values: ["spot"]

      - key: karpenter.k8s.aws/instance-category
        operator: In
        values: ["m", "t"]

      - key: karpenter.k8s.aws/instance-generation
        operator: Gt
        values: ["4"]

      - key: karpenter.k8s.aws/instance-size
        operator: In
        values: ["small", "medium"]
